body{
    background-image: url(background.jpg);
    font-family: 'Mansalva', cursive;
}

#time{
    text-align: center;
    font-size: 65px;
    font-weight: 900;
}

.inp {
    padding: 2px;
}

.form {
    margin-top: 250px;
    display: flex;
    justify-content: center;
}
